.headerContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom:2%;
}

.header__link{
	max-width: 300px;
	margin: 0 10% 0 10%;
}

.link__logo{
	width: 100%;
	height: 100%;
}