.search{
	width: 100%;
	background-color: $primary-background-color;
	border-radius: $radius;
	display: flex;
	align-items: center;
	height: 70px;
	&__input{
		border: none;
		background-color: transparent;
		font-family: inherit;
		font-weight: 400;
		font-size: 18px;
		padding-left: 20px;
		width: 100%;
		height: 100%;
		text-overflow: ellipsis;
		&::placeholder{
			opacity: 25%;
		}
	}
	&__submit{
		min-width: 35px;
		padding: 18px;
	}
}