.searchButtonContainer {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	margin-top: 20px;
	width: inherit;
	//flex-wrap: wrap;
}

.searchButton {
	border-radius: $radius;
	max-width: 170px;
	max-height: 70px;
	border: none;
	font-size: 18px;
	font-weight: 700;
	font-family: inherit;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	cursor: pointer;

	&-ingredients {
		background-color: $primary-color;
	}
	&-appliance {
		background-color: $secondary-color;
	}
	&-ustensils {
		background-color: $tertiary-color;
	}

	&__search {
		display: none;
		width: 100%;
		max-width: 680px;
		color: white;
		border-radius: $radius;
		height: max-content;
		position: relative;
		&-ingredients {
			background-color: $primary-color;
		}
		&-appliance {
			background-color: $secondary-color;
		}
		&-ustensils {
			background-color: $tertiary-color;
		}
	}
	&__inputContainer {
		display: flex;
		width: 100%;
		align-items: center;
		height: 70px;
	}
	&__input {
		border: none;
		background-color: transparent;
		font-family: inherit;
		font-weight: 700;
		font-size: 18px;
		padding-left: 20px;
		width: 100%;
		height: 100%;
		text-overflow: ellipsis;
		color: white;
		&::placeholder {
			opacity: 25%;
		}
	}
	&__icon {
		min-width: 16px;
		padding: 30px;
	}
	&__results {
		position: absolute;
		//z-index: 1000;
		width: -moz-available;
		width: -webkit-fill-available;
		top: 65px;
		border-radius: 0 0 $radius $radius;
		background: inherit;
		overflow: auto;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
		column-gap: 20px;
		max-height: 50vh;
		padding: 20px;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}
	}
	&__result {
		display: block;
		cursor: pointer;
		padding: 8px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		&:hover {
			background-color: white;
			color: black;
		}
	}
}
