$primary-background-color: #e7e7e7;
$secondary-background-color: #c7bebe;
$primary-color: #3282f7;
$secondary-color: #68d9a4;
$tertiary-color: #ed6454;

$radius: 5px;

//pour le responsive
$breakpoints: (
	laptop: 1024px,
	tablet: 768px,
	max: 2400px,
);
